{% extends 'accounts/accounts_base.html' %}

{% block title %}更改密码{% endblock %}

{% block card_content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">更改密码</h3>
{#          <p>输入你的邮箱地址，然后我们会发送重置你密码的链接到你邮箱.</p>#}
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">更改密码</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}