<!DOCTYPE html>
<html lang="en">

  <head>
    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}e租{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://fanyou-static.oss-cn-hangzhou.aliyuncs.com/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
{#    <link href="{% static 'blog/css/all.min.css' %}" rel="stylesheet">#}
    <link rel="stylesheet" href="{% static 'blog/css/simple-line-icons.css' %}">
{#    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">#}
{#    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">#}
{#    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">#}

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static 'blog/css/device-mockups.css' %}">

    <!-- Custom styles for this template -->
    <link href="{% static 'blog/css/new-age.css' %}" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="64x64" href="https://fanyou-static.oss-cn-hangzhou.aliyuncs.com/images/android-icon-96x96.png">
    {% block stylesheet %}
    {% endblock %}

  </head>

  <body id="page-top">

    {% block content %}
    {% endblock %}



    <!-- Bootstrap core JavaScript -->
    <script src="https://fanyou-static.oss-cn-hangzhou.aliyuncs.com/css/jquery-3.3.1.min.js"></script>
    <script src="https://fanyou-static.oss-cn-hangzhou.aliyuncs.com/css/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="{% static 'blog/js/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'blog/js/new-age.min.js' %}"></script>
    {% block javascript %}
    {% endblock %}

  </body>

</html>
