{% extends 'blog/base.html' %}

{% load static %}

{% block content %}
    <div class="header" id="home">
		<div class="container">
			<div class="top-menu">
				<ul>
					<li><a class="active" href="#home">主页</a></li>
                    <li><a href="#zuji" class="scroll">我要租机</a></li>
					<li><a href="#aboutus" class="scroll">关于我们</a></li>
					<li><a href="#footer" class="scroll">联系我们</a></li>
                    <li><a href="{% url 'signup' %}" class="scroll">注册</a></li>
				</ul>
			</div>
			<div class="header-main row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <img style="margin-bottom: 2em" src="{% static 'blog/images/91_logo.png' %}" class="img-responsive" alt="" />
                    <div class="row text-center">
                        <div class="col-xs-6 col-sm-6 col-md-6 md-5">
                            <img src="{% static 'blog/images/qrcode_andriod_gaitubao_com_199x199.png' %}" class="img-responsive" alt="" />
                            <h2 style="color: white" class="text-center">Andriod</h2>
                            <a class="btn btn-primary btn-lg" href="#" role="button">Andriod点击下载</a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <img src="{% static 'blog/images/qrcode_andriod_gaitubao_com_199x199.png' %}" class="img-responsive" alt="" />
                            <h2 style="color: white">IOS</h2>
                            <a class="btn btn-primary btn-lg" href="https://itunes.apple.com/cn/app/%E7%BE%8E%E5%9B%A2%E5%A4%96%E5%8D%96-%E5%A4%96%E5%8D%96%E8%AE%A2%E9%A4%90-%E9%80%81%E5%95%A5%E9%83%BD%E5%BF%AB/id737310995?mt=8" role="button">IOS点击下载</a>
                        </div>
                    </div>
				</div>
				<div class="col-xs-12 col-md-6 col-sm-6">
					<img style="margin-top: 4em" src="{% static 'blog/images/ipad.jpg' %}" class="img-responsive" alt="" />
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="content">
		<div class="features-section" id="zuji">
			<div class="container">
				<div class="features-section-head text-center">
					<h3>租机流程</h3>
				</div>

	     <div id="portfoliolist">
					<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper wow bounceIn" data-wow-delay="0.4s">		
							<a href="#small-dialog1" class="b-link-stripe b-animate-go  thickbox play-icon popup-with-zoom-anim">
						     <img src="{% static 'blog/images/step1@2x.png' %}" class="img-responsive" alt=""/>
{#                             <h2 class="text-center">选品下单</h2>#}
							<div class="tour-caption">							
							<span> </span>
							 <p>挑选机型</p>
							</div></a>
						</div>
					</div>				
					<div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper wow bounceIn" data-wow-delay="0.4s">		
							<a href="#small-dialog2" class="b-link-stripe b-animate-go  thickbox play-icon popup-with-zoom-anim">
						     <img src="{% static 'blog/images/step2@2x.png' %}" class="img-responsive" alt=""/>
							 <div class="tour-caption">
							<span> </span>
							 <p>订单审核</p>
						     </div></a>
						</div>
					</div>		
					<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper wow bounceIn" data-wow-delay="0.4s">		
							<a href="#small-dialog3" class="b-link-stripe b-animate-go  thickbox play-icon popup-with-zoom-anim">
						     <img src="{% static 'blog/images/step3@2x.png' %}" class="img-responsive" alt=""/>
							 <div class="tour-caption">
							<span> </span>
							 <p>商品发货</p>
							 </div></a>
						</div>
					</div>				
					<div class="portfolio fun mix_all" data-cat="fun" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper wow bounceIn" data-wow-delay="0.4s">		
							<a href="#small-dialog4" class="b-link-stripe b-animate-go  thickbox play-icon popup-with-zoom-anim">
						     <img src="{% static 'blog/images/step6@2x.png' %}" class="img-responsive" alt=""/>
							 <div class="tour-caption">
							<span> </span>
							 <p>每月按时还款</p>
							</div></a>
						</div>
					</div>			
				<div class="clearfix"></div>	
			</div>
		</div>
		<!---->
	</div>
		<div class="city" id="aboutus">
			<div class="container">
				<div class="col-md-6 city-left">
					<h2>91租机</h2>
					<h5>杭州凡有科技有限公司</h5>
					<p>91租机，杭州凡有科技旗下数码租赁平台，平台主要以手机，电脑，摄像机等全新以及二手数码进行的租赁以及回收服务，
                        用户无需支付押金，只需通过我们的风控审核，即可免押租赁最新，最时尚的数码3c产品。</p>
				</div>
				<div class="col-md-6 city-right">
					<img src="{% static 'blog/images/Apple-iPhone-Xs_327x480.jpg' %}" alt="iphone-Xs" />
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function(){
          $().UItoTop({ easingType: 'easeOutQuart' });
        });

               $(function(){

      // Initialize the gallery
        $('.works a.gal').touchTouch();
     });
    </script>

    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
            });
        });
    </script>

        <script type="text/javascript">
        $(document).ready(function() {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
{% endblock %}
