{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
        <ol class="breadcrumb my-4">
          <li class="breadcrumb-item active">商户列表</li>
        </ol>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>商户名</th>
        <th>商户地址</th>
        <th>老板姓名</th>
        <th>电话</th>
      </tr>
    </thead>
    <tbody>
      {% for merchant in merchants_list %}
        <tr>
          <td>
            <a href="{% url 'merchant_detail' merchant.id %}">{{ merchant.name }}</a>
          </td>
          <td class="align-middle">
            {{ merchant.address }}
          </td>
          <td class="align-middle">
            {{ merchant.boss_name }}
          </td>
          <td class="align-middle">
              {{ merchant.phone_number }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}