{% extends 'accounts/accounts_base.html' %}

{% load static %}

{% block title %}注册成功-{{ block.super }}{% endblock %}

{% block card_content %}
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10 col-sm-12">
                    <div class="card" >
                        <div class="card-body">
                            <h1 class="card-title text-center">注册成功</h1>
                            <div class="text-center mt-4">
                                <img src="{% static 'blog/images/qrcode_andriod_gaitubao_com_199x199.png' %}" class="img-responsive" alt="" />
                                <h2>Andriod</h2>
                                <a class="btn btn-primary btn-lg" href="#" role="button">Andriod点击下载</a>
{#                                  <a class="badge-link" href="#"><img src="{% static 'blog/images/google-play-badge.svg' %}" alt=""></a>#}
                            </div>
                            <div class="mt-4 text-center">
                                <img src="{% static 'blog/images/qrcode_andriod_gaitubao_com_199x199.png' %}" class="img-responsive" alt="" />
                                <h2 >IOS</h2>
                                <a class="btn btn-primary btn-lg" href="https://itunes.apple.com/cn/app/%E7%BE%8E%E5%9B%A2%E5%A4%96%E5%8D%96-%E5%A4%96%E5%8D%96%E8%AE%A2%E9%A4%90-%E9%80%81%E5%95%A5%E9%83%BD%E5%BF%AB/id737310995?mt=8" role="button">IOS点击下载</a>
                            </div>
                        </div>
                        <div class="card-footer text-muted text-center">91租机</div>
                    </div>
                </div>
            </div>
{% endblock %}
