<!DOCTYPE html>
<html>
<head>
{% load static %}
{% load crispy_forms_tags %}
<title>91租机</title>
<link href="{% static 'blog/css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'blog/js/jquery.min.js' %}"></script>
<script src="http://ajax.useso.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="{% static 'blog/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'blog/css/touchTouch.css' %}" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Techandall Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'blog/images/favicon-32x32.png' %}">
{#<link rel="icon" type="image/png" sizes="96x96" href="">#}
{#<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">#}
{#<link rel="shortcut icon" type="image/png" href="{% static 'blog/images/favicon-16x16.png' %}"/>#}
<link href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	 <script src="{% static 'blog/js/touchTouch.jquery.js' %}"></script>
     <script src="{% static 'blog/js/jquery.ui.totop.js' %}"></script>
	  <script>
        $(document).ready(function(){
          $().UItoTop({ easingType: 'easeOutQuart' });
        });  
        
               $(function(){
  
  // Initialize the gallery
  $('.works a.gal').touchTouch();
 });  
</script>
<script type="text/javascript" src="{% static 'blog/js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'blog/js/easing.js' %}"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
				});
			});
		</script>
</head>
<body>
	<!-- header-section-starts -->
	<div class="header" id="home">
		<div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title text-center">注册</h2>
                            <form class="signup" id="signup_form" method="post"  action="{% url 'signup'%}">
                              {% csrf_token %}
                              {{ form|crispy }}
                              <div class="controls">
                                <p class="help-block"><strong>{{ error }}</strong></p>
                              </div>
                              <input type="button" id="forcode" value="获取验证码" class="btn btn-danger">
                              {% if redirect_field_value %}
                              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                              {% endif %}
                              <button class="btn btn-success btn-block" type="submit" id="signup">注册 &raquo;</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>

	<div class="footer" id="footer">
		<div class="container">
{#			<div class="col-md-6 contact-section">#}
{#				<h4>联系我们</h4>#}
{#				<form>#}
{#					<input type="text" class="text" value="姓名" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '姓名';}">#}
{#					<input type="text" class="text" value="邮箱" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '邮箱';}">#}
{#					<textarea></textarea>				#}
{#					<input type="submit" value="提交">#}
{#				</form>#}
{#			</div>#}
			<div class="col-md-6 footer-right">
				<h4>扫码关注微信公众号</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also</p>
				<p>the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset</p>
				<div class="bottom-menu">
{#					<ul>#}
{#						<li><a href="#home" class="scroll">HOME</a></li>#}
{#						<li> / </li>#}
{#						<li><a href="404.html">FAQ</a></li>#}
{#						<li> / </li>#}
{#						<li><a href="contact.html">SUPPORT</a></li>#}
{#						<li> / </li>#}
{#						<li><a href="contact.html">CONTACT</a></li>#}
{#					</ul>#}
				</div>
				<div class="address">
					<p>地址 : 杭州市拱墅区萍水街333号御峰大厦1922</p>
					<p>联系电话 : 0571-86507022</p>
					<p>邮箱 : yuxiang@fanyoutech.com</p>
				</div>
				<div class="copyrights">
{#					<p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>#}
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>

    <script type="text/javascript">
        var countdown=60;
        function settime(obj) {
            if (countdown === 0) {
                obj.removeAttribute("disabled");
                obj.value="获取验证码";
                countdown = 60;
                return;
            } else {
                obj.setAttribute("disabled", true);
                obj.value="重新发送(" + countdown + ")";
                countdown--;
            }
        setTimeout(function() {
            settime(obj) }
            ,1000)
        }
    </script>

    <script type="text/javascript">
        $('#forcode').click(function () {
            $.ajax({
                url: '{% url "send_verify_code" %}',
                data : {
                    'phone' : $('#id_phone').val()
                },
                dataType: 'json',
                success: function (data) {
                    if (data.error_message){
                        alert(data.error_message)
                    }
                    if (data.success_message){
                        settime(document.getElementById('forcode'))
                        alert(data.success_message)

                    }
                }
            })
        })
    </script>

{#    <script type="text/javascript">#}
{#        $('#signup').click(function () {#}
{#            $.ajax({#}
{#                url: '{% url "signup" %}',#}
{#                type: "POST",#}
{#                data: {#}
{#                    'verify_code': $('#id_verification_code').val(),#}
{#                    csrfmiddlewaretoken: '{{ csrf_token }}'#}
{#                },#}
{#                dataType: 'json',#}
{#                success: function (data) {#}
{#                    if(data.error_message){#}
{#                        alert(data.error_message)#}
{#                    }#}
{#                    if(data.success_message){#}
{#                        alert(data.success_message)#}
{#                    }#}
{#                }#}
{#            })#}
{#        })#}
{#    </script>#}

	 <script type="text/javascript">
        $(document).ready(function() {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
				<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

</body>
</html>