{% extends 'blog/base.html' %}

{% load static %}

{% block content %}
    <div class="header" id="home">
		<div class="container">
            <h1 class="text-center text-warning">恭喜你！注册成功</h1>
            <div class="top-menu">
				<ul>
					<li><a class="active" href="{% url 'index' %}">主页</a></li>
				</ul>
			</div>
			<div class="header-main row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="row text-center">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <img src="{% static 'blog/images/qrcode_andriod_gaitubao_com_199x199.png' %}" class="img-responsive" alt="" />
                            <h2 style="color: white" class="text-center">Andriod</h2>
                            <a class="btn btn-primary btn-lg" href="#" role="button">Andriod点击下载</a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 mt-5">
                            <img src="{% static 'blog/images/qrcode_andriod_gaitubao_com_199x199.png' %}" class="img-responsive" alt="" />
                            <h2 style="color: white">IOS</h2>
                            <a class="btn btn-primary btn-lg" href="https://itunes.apple.com/cn/app/%E7%BE%8E%E5%9B%A2%E5%A4%96%E5%8D%96-%E5%A4%96%E5%8D%96%E8%AE%A2%E9%A4%90-%E9%80%81%E5%95%A5%E9%83%BD%E5%BF%AB/id737310995?mt=8" role="button">IOS点击下载</a>
                        </div>
                    </div>
				</div>
{#				<div class="col-xs-12 col-md-6 col-sm-6">#}
{#					<img style="margin-top: 4em" src="{% static 'blog/images/ipad.jpg' %}" class="img-responsive" alt="" />#}
{#                    <h1>注册成功</h1>#}
{#				</div>#}
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
{% endblock %}
